line-length = 88
select = ["E", "F", "W", "C90", "B", "B9", "S", "I"]
exclude = [
    "migrations",
    ".venv",
    "venv",
    "__pypackages__",
    "build",
    "dist",
    ".git",
]
per-file-ignores = { "__init__.py" = ["F401"] }
